* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* header */


.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(81, 159, 236, 0.6);
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.left img {
    width: 70px;
}

#icon-nav {
    margin-top: 25px;
    margin-right: 10px;
}

.link {
    display: flex;
    gap: 40px;
}

.link a {
    text-decoration: none;
    color: black;
}

.link a:hover {
    text-decoration: underline;
    color: rgb(59, 141, 182);
}

#active {
    color: rgb(59, 141, 182);
    text-decoration: underline;
}

/* main */
/* .head-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-image: url(../photo/contact2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.head-contact h1{
    font-size: 45px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(73, 132, 192);
} */
.left-contact {
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.left-contact img {
    width: 80px;
}

.icon-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid rgb(73, 132, 192);
}

.contain-main {
    display: flex;
    justify-content: space-around;
}

/* .contain-logo img{
    width: 400px;
} */
.contact-contant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(237, 239, 240);
    width: 250px;
    height: 150px;
    gap: 8px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(64, 61, 61, 0.2);
    background-color: rgba(255, 255, 255, 0.951);
}

.contact-contant p {
    text-align: center;
}

.contact-contant a {
    text-decoration: none;
}

.info-contact {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.info-contact1 {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

#form {
    height: 38px;
    width: 230px;
    margin-top: 24px;
}

.form-contact {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    gap: 20px;
}

.message {
    margin-top: 20px;
    width: 485px;
    height: 130px;
}

.btn-contact button {
    padding: 8px 25px;
    border-radius: 6px;
    border: none;
    background-color: rgb(114, 156, 198);
    color: white;
    margin-top: 12px;
}

.right-contact {
    margin: 25px;
    border: 1px solid rgb(61, 153, 172);
    border-radius: 12px;
    padding: 20px;
}

.right-contact img {
    width: 100px;
}

input {
    outline: none;
    padding-left: 12px;
}

main {
    height: 100vh;
    background-color: rgb(175, 207, 231);
}

.box-contact {
    display: flex;
    justify-content: space-around;
    /* margin: 24px; */
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    gap: 5px;
}

.box-main img {
    width: 80px;
}

.box-main h3 {
    color: gray;
}

textarea {
    outline: none;
    padding: 12px;
}

section {
    margin-top: 20px;
}

.text-contactpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-h1 {
    font-size: 30px;
    margin-left: 37%;
    color: #00a0d6;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid #00a0d6;
    padding-bottom: 5px;
    padding: 12px;
}

.support {
    margin-top: 50px;
    margin: 50px 85px;
}

.text-support {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid lightskyblue;
    border-radius: 20px;
}

#image-footer {
    width: 32px;
}

.icon-shop {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
}

.box-contact {
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

#im3 {
    width: 130px;
}

/* footer */
image-footer {
    width: 32px;
}

.icon-shop {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
}

.text-footer {
    padding: 50px;
    display: flex;
    justify-content: space-between;

}

.text {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 35px;
    border-radius: 12px;
    background: white;

}

.text-footershop {
    width: 100%;
    background-color: rgb(203, 226, 243);
    margin-top: 32px;
}

.footer {
    display: flex;
    gap: 20px;
    padding: 50px 50px;
    height: 30vh;
}

.footer .last-left {
    flex: 1;
    text-align: center;
}

.footer .last-left p {
    margin-top: 12px;
}

.footer .last-center {
    text-align: center;
    flex: 1;
}

.footer .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .right h3 {
    text-align: center;
}

.quick {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 12px;
}

.quick a {
    color: black;
}

.info {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 12px;
    /* margin-left: 140px; */
}

.icon-foot {
    display: flex;
    gap: 10px;
}

.text-support {
    padding: 30px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 90%;
    height: 350px;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .text-footershop {
        width: 100%;
        background-color: rgb(203, 226, 243);
    }

    .footer {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .quick {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .info {
        display: flex;
        flex-direction: row;
    }

    .icon-foot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main {
        height: 90vh;
    }

    .contain-main {
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: space-between; */
        /* background-color: gold; */
        height: 100vh;
    }

    .right-contact {
        margin: 20px;
        margin-left: 17%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 550px;

    }

    .btn-contact {
        margin-right: 420px;
    }

    .left-contact {
        border-radius: 0%;
        background-color: white;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .info-contact {
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
    }

    .info-contact1 {
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
    }

    .char {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contact-contant {
        width: 300px;
        height: 120px;
    }

    .text-h1 {
        margin-left: 25%;
        margin-top: 80px;

    }

    .support {
        margin-top: 100px;
        margin: 40px;
    }

    .text-support {
        border-radius: 20px;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 200px;
        border: 1px solid lightskyblue;
    }

    iframe {
        height: 250px;
    }

    .box-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-main {
        width: 80%;
    }

    .box-main p {
        text-align: center;
    }
}

/* responsive */
/* phone size */
@media (min-width: 320px) and (max-width: 599px) {
    .link {
        display: flex;
        gap: 18px;
        margin-left: 3px;
    }

    .link a {
        text-decoration: none;
        color: black;
        font-size: 17px;
    }

    .left img {
        width: 55px;
    }

    .header .right {
        width: 15px;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        margin-right: 10px;
    }



    .contain-main {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 70px;
    }

    #form {
        height: 30px;
        width: 130px;
        margin-top: 24px;
    }

    .message {
        margin-top: 10px;
        width: 285px;
        height: 100px;
    }

    .box-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-h1 {
        margin-left: 3%;
        margin-right: 4%;
        border-bottom: none;
        margin-top: 440px;
        text-align: center;
    }

    .support {
        margin-top: 100px;
        margin: 40px;
    }

    .text-support {
        margin-top: 300px;
    }

    iframe {
        height: 150px;
        width: 350px;
    }

    main {
        height: 100vh;
        background-color: white;
    }

    .right-contact {
        background-color: #85cae1;
    }

    .left-contact {
        border-radius: 12px;
        padding: 5px 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .info-contact {
        display: flex;
        margin-top: 25px;
        flex-direction: column;
        gap: 12px;
    }

    .info-contact1 {
        display: flex;
        margin-top: 0px;
        flex-direction: column;
        gap: 12px;
    }

    .contact-contant {
        width: 370px;
        height: 110px;
        background-color: #9fd5e7;
    }



    .footer {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .quick {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .info {
        display: flex;
    }

    .icon-foot {
        display: flex;
        align-items: center;
    }





}